# OS
.DS_Store

# Ruby
.bundle
vendor/bundle

# Rails
log/*
tmp/*
!log/.keep
!tmp/.keep

# Database
db/*.sqlite3
db/*.sqlite3-journal

# Environment variables
.env
.env.*

# Node
node_modules
yarn-error.log

# IDE
.vscode
.idea

# macOS
.DS_Store
