# macOS
.DS_Store

# Ruby
.bundle
vendor/bundle

# Environment variables
.env*
.env.*


# Rails logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# PID files
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage (ActiveStorage, SQLite)
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Assets
/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

# Credentials keys
/config/*.key

# Node
/node_modules
