<p class="fs-5"><%= @msg %></p>

<div class="card p-3 mb-3">
  <% @messages.each do |message| %>
    <p><%= message.message %>
      (<%=message.person.name %>)</p>
    
  <% end %>
</div>
<%= will_paginate @messages, 
  previous_label:"前へ", next_label:"次へ" %>

