<% content_for :title, "Editing mycontact" %>

<h1>Editing mycontact</h1>

<%= render "form", mycontact: @mycontact %>

<br>

<div>
  <%= link_to "Show this mycontact", @mycontact %> |
  <%= link_to "Back to mycontacts", mycontacts_path %>
</div>
