<% content_for :title, "Editing board message" %>

<h1>Editing board message</h1>

<%= render "form", board_message: @board_message %>

<br>

<div>
  <%= link_to "Show this board message", @board_message %> |
  <%= link_to "Back to board messages", board_messages_path %>
</div>
