<% content_for :title, "New board message" %>

<h1>New board message</h1>

<%= render "form", board_message: @board_message %>

<br>
  <div>
    <%= link_to "Back to board messages", board_messages_path %>
  </div>

  <%= link_to "戻る", board_messages_path, class: "btn btn-secondary mt-2" %>
