<div id="<%= dom_id answer %>">
  <div>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= answer.content %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= answer.name %>
  </div>

</div>
