<div id="<%= dom_id board_user %>">
  <div>
    <strong>Nickname:</strong>
    <%= board_user.nickname %>
  </div>

  <div>
    <strong>User:</strong>
    <%= board_user.user_id %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= board_user.memo %>
  </div>

</div>
