<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="auth-body">
    <main class="auth-container">
      <%= yield %>
    </main>
  </body>
</html>


